<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AutoWatchingPlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <AutoWatchingPlatform.Properties.Settings>
            <setting name="sharesList" serializeAs="String">
                <value />
            </setting>
            <setting name="priceList" serializeAs="String">
                <value />
            </setting>
            <setting name="watchingIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sharesIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="priceIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="allShares" serializeAs="String">
                <value />
            </setting>
            <setting name="watchingList" serializeAs="String">
                <value />
            </setting>
        </AutoWatchingPlatform.Properties.Settings>
    </userSettings>
</configuration>
